.menubar {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 20px;
}

.logo {
  display: block;
  width: 180px;
  height: 16px;
  background-image: url(../images/wikimedium_logo.svg);
}

.about {
  font-size: 14px;
  line-height: 50px;
  color: rgba(0,0,0,.2);
  transition: all .1s ease;
}

.about:hover {
  color: rgba(0,0,0,.4);
}
